<p-card styleClass="checkin-card">

  <ng-template pTemplate="header">
    <div class="card-header-content">
      <p-tag styleClass="status-tag" value="EM ANDAMENTO"></p-tag>
    </div>
  </ng-template>

  <ng-template pTemplate="title">
      <h2 class="card-title">{{ cardTitle }}</h2>
  </ng-template>

  <ng-template pTemplate="subtitle">
      <p class="card-subtitle">
        {{ cardSubtitle }}
      </p>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      label="Fazer Check-in"
      icon="pi pi-arrow-down-circle"
      styleClass="checkin-button">
    </p-button>
  </ng-template>

</p-card>